body {
  font-family: 'helvetica';
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #f2f0f0;
  /*stroke-dasharray: 2,2;*/
}

.hidden {
  display: none;
}

.subChart {
  width: 21%;
  margin: 20px 2% 0 0;
  display: inline-block;
  border: 1px solid lightgray;
  padding: 5px;
  vertical-align: top;
}
.subChart:hover {
  border-color: red;
}
